# Cluster/Production Environment Variables
# Use ingress domain for all API calls
VITE_API_BASE_URL=https://api-base-url.dns.org/example-api
VITE_SOCKET_URL=https://example-url.dns.org
VITE_AI_SERVICE_URL=https://example-url.dns.org/example-api
VITE_TRACKING_SERVICE_URL=https://tracking-url.dns.org

VITE_MAPBOX_TOKEN=your_mapbox_token_here
