  AI_DATABASE_URL=ai_database_url_placeholder
  AI_SUPABASE_URL=ai_supabase_url_placeholder
  AI_SUPABASE_KEY=ai_supabase_key_placeholder
  AI_DB_PASSWORD=password_placeholder
  AI_OPENAI_API_KEY=ai_openai_api_key_placeholder
  OPENWEATHER_API_KEY=openweather_api_key_placeholder