@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Inter, sans-serif;
  color: #1a1a1a;
}

.mapboxgl-popup-content {
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.mapboxgl-popup-close-button {
  color: #1a1a1a;
}

.mapboxgl-popup-close-button:hover {
  color: #004179;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    animation-timing-function: cubic-bezier(0.4, 0, 1, 1);
  }
  to {
    opacity: 1;
  }
}

.animate-fadeIn {
  animation: fadeIn 0.3s ease-out;
}
